In [19]:
import importlib
import PhilEventFind
importlib.reload(PhilEventFind)
from PhilEventFind import *

There are  31  entries in the list.
1: data_id                    8: event_type                 15: inter2                    22: location
2: iso                        9: sub_event_type             16: interaction               23: latitude
3: event_id_cnty              10: actor1                    17: region                    24: longitude
4: event_id_no_cnty           11: assoc_actor_1             18: country                   25: geo_precision
5: event_date                 12: inter1                    19: admin1                    26: source
6: year                       13: actor2                    20: admin2                    27: source_scale
7: time_precision             14: assoc_actor_2             21: admin3                    28: notes
29: fatalities                30: timestamp                 31: iso3

There are  6  entries in the list.
1: Battles                                             4: Riots
2: Explosions/Remote violence                          5: Strategic developments
3: Protests                                            6: Violence against civilians

,inter2,event_date,event_type,year,timestamp,admin1
11037,1,04 January 2016,Battles,2016,1589298681,Bangsamoro Autonomous Region in Muslim Mindanao
11038,0,04 January 2016,Protests,2016,1563887830,National Capital Region
11039,1,02 January 2016,Battles,2016,1589298664,Bangsamoro Autonomous Region in Muslim Mindanao
11040,3,02 January 2016,Battles,2016,1589298664,Bangsamoro Autonomous Region in Muslim Mindanao
11041,1,01 January 2016,Battles,2016,1589298664,Bicol Region

In [23]:
        
mult4_filt(df)

Enter the number of the filters up to 4: 1
There are  21  entries in the list.
1: event_type                 6: assoc_actor_2              11: Region                    16: longitude
2: sub_event_type             7: comp_act1                  12: Province                  17: geo_precision
3: actor1                     8: comp_assoc_act1            13: Municipality              18: source
4: assoc_actor_1              9: comp_act2                  14: Baranggay                 19: source_scale
5: actor2                     10: comp_assoc_act2           15: latitude                  20: fatalities
21: notes

Enter the number of the column to filter on: 1

There are  6  entries in the list.
1: Battles                                             4: Riots
2: Explosions/Remote violence                          5: Strategic developments
3: Protests                                            6: Violence against civilians

Enter the number of the item to filter on: 1
There are  21  entries in the list.
1: event_type                 6: assoc_actor_2              11: Region                    16: longitude
2: sub_event_type             7: comp_act1                  12: Province                  17: geo_precision
3: actor1                     8: comp_assoc_act1            13: Municipality              18: source
4: assoc_actor_1              9: comp_act2                  14: Baranggay                 19: source_scale
5: actor2                     10: comp_assoc_act2           15: latitude                  20: fatalities
21: notes

Choose 1 more column to include in the summary display.
Enter the number of the column to include: 2

Enter year and month of beginning month of the study in YYYY-MM format: 2016-01
Enter year and month of final month in YYYY-MM format: 2016-03

The following summary used these filters:
Filter 1: event_type: Battles

          Num_of sub_event_type  Num_events_tot
Month
Jan-2016                     24              24
Feb-2016                     57              57
Mar-2016                     29              29

These are the variety of hits over the entire period for the Number of sub_event_type:
There are  2  entries in the list.
1: Armed clash                     2: Government regains territory